<h1>Payments#new</h1>
<%= notice %>

<%= form_for(@payment) do %>
 <script src="https://checkout.pay.jp/" class="payjp-button" data-key="<%= ENV['PAYJP_PUBLIC_KEY'] %>"></script>
<% end %>

<div style="margin: 20px 0;">
  <h3>課金中</h3>
  <% @active_payments.each do |payment| %>
    <%= link_to payment.subscription_id, payment_path(payment), method: :delete %><br>
  <% end %>
</div>

<div style="margin: 20px 0;">
  <h3>課金停止中</h3>
  <% @stop_payments.each do |payment| %>
    <%= link_to payment.subscription_id, restart_payment_path(payment), method: :patch %><br>
  <% end %>
</div>
